@font-face {
  font-family: 'iransans';
  src: url('../fonts/vazir.eot'),
  url('../fonts/IRANSansWeb.woff2') format('woff2');
}
@font-face {
  font-family: 'iransans_b';
  src: url('../fonts/vazir.eot'),
  url('../fonts/IRANSansWeb_Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'iransans_l';
  src: url('../fonts/vazir.eot'),
  url('../fonts/IRANSansWeb_Light.woff2') format('woff2');
}
@font-face {
  font-family: 'iransans_m';
  src: url('../fonts/vazir.eot'),
  url('../fonts/IRANSansWeb_Medium.woff2') format('woff2');
}

html * {
  font-family: iransans;
}

.ant-menu-dark.ant-menu-horizontal {
  direction: rtl;
  float: right;
}
.ant-layout-content {
  direction: rtl;
}
